body {
  font-family: "Helvetica";
  background-color: green;
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  text-align: center;
  display: flex;
  font-size: 38px;
  color: black;
  background-color: aqua;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-family: ("https://dl.dafont.com/dl/?f=rosellinda_alyamore");
}
h2 {
  font-size: 1.2rem;
  font-size: 38px;
  color: red;
  background-color: aqua;
  font-family: "Titillium Web", sans-serif;
}
h3 {
  /* font-size: 38px; */
  color: red;
  background-color: aqua;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}
.column {
  display: flex;
  justify-content: space-between;
}
.column.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
  background-color: aqua;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.text-right {
  text-align: right;
}
/* img.small {
  max-height: 8rem;

} */
img {
  width: 400px;
  height: auto;
  border-radius: 10%;
  border: 5px solid #404040;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.bed > img {
  width: 30vh;
  height: 35vh;
}
button {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: green;
  width: 23px 13px 23px 13px;
  cursor: pointer;
  margin: 5px;
  padding: 11px 22px;
}
button.add {
  background-color: greenyellow;
  width: 3rem;
  color: brown;
}
button.remove {
  background-color: #f04040;
  width: 3rem;
  color: white;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
